body {
	margin: 15px;
}

#myc {
	outline: 10px outset red;
	display:block;
	margin-left: auto;
	margin-right: auto;
}

#toolbar {
	padding-bottom: 10px;
}

button {
	height:22px;
	float: left;
	font-weight: bold;
}

p {
	font-size: 25px;
}

h2 {
	left: 160;
	top: 0;
	font-size: 50px;
	position: absolute;
	font-family: 'Reenie Beanie';
}

#colorbar {
	border-style: groove;
	display: block;
	width: 50px;
	clear: both;
	overflow: auto;
}


.color {
	width: 10px;
	height: 10px;
	border: 1px;
	float: left;
}

#red {
	background: red;
}

#green {
	background: green;
}

#blue {
	background: blue;
}

#yellow {
	background: yellow;
}

#purple {
	background: violet;
}